@model Interview.Domain.Model.Candidate

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>*@

<div  class="row" style = "border-radius:10px 10px 10px 10px;border:1px solid #f8f5f5;background-color:#e9e5e5;padding: 10px" >
    <h4>@Model.ApplicationUser.Email</h4>
    @*<hr />*@
    <dl class="dl-horizontal col-md-5"  style = "border-radius:10px 10px 10px 10px;border:1px solid #f8f5f5;background-color:#ffffff;padding: 30px" >
        <dt>
            @Html.DisplayNameFor(model => model.Post.PostName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post.PostName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Technology.TechnologyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Technology.TechnologyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
